{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}
<div class="max-w-lg mx-auto">

  <form method="POST">
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="w-full text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Login</button>
   <br><br>
    <a class="hover:text-blue-500" href="{% url 'reset-password' %}" >Forgot password ?</a> <br>

  <p class="inline-flex text-gray-700 mt-9 py-2 px-6 focus:outline-none text-lg">Do not have an account ?</p>
  <a class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" href="{% url 'signup' %}">Sign up</a>
  
  </form>

</div>

{% endblock content %}