{% extends "base.html" %}
{% load tailwind_filters %}
{% block content %}

<div class ="max-w-lg mx-auto">
<form method="POST">
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="w-full text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Reset</button>
  </form>

  <p class="inline-flex text-gray-700 mt-9 py-2 px-6 focus:outline-none text-lg">Remembered your passpword ?</p>
  <a class="inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg" href="{% url 'login' %}">Login instead</a>
  

</div>
{% endblock content %}